[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
dotenv = "*"

[dev-packages]
pytest = "*"
responses = "*"
pytest-responses = "*"
exceptiongroup = ">=1.0.0rc8"

[requires]
python_version = "3"
